<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="neptune-container" >
                <div class="neptune" data-tooltip="NEPTUNE">
                    <a href="/neptune">
                        <img src="/static/neptune-final.png">
                    </a>
                </div>
            </div>
            <div class="uranus-container" >
                <div class="uranus" data-tooltip="URANUS">
                    <a href="/uranus">
                        <img src="/static/uranus-final.png">
                    </a>
                </div>
            </div>
            <div class="saturn-container" >
                <div class="saturn" data-tooltip="SATURN">
                    <a href="/saturn">
                        <img src="/static/saturn-final.png">
                    </a>
                </div>
            </div>
            <div class="jupiter-container" >
                <div class="jupiter" data-tooltip="JUPITER">
                    <a href="/jupiter">
                        <img src="/static/jupiter-final.png">
                    </a>
                </div>
            </div>
            <div class="mars-container" >
                <div class="mars" data-tooltip="MARS">
                    <a href="/mars">
                        <img src="/static/mars-final.png">
                    </a>
                </div>
            </div>
            <div class="earth-container" >
                <div class="earth" data-tooltip="EARTH">
                    <a href="/earth">
                        <img src="/static/earth-final.png">
                    </a>
                </div>
            </div>
            <div class="venus-container" >
                <div class="venus" data-tooltip="VENUS">
                    <a href="/venus">
                        <img src="/static/venus-final.png">
                    </a>
                </div>
            </div>
            <div class="mercury-container" >
                <div class="mercury" data-tooltip="MERCURY">
                    <a href="/mercury">
                        <img src="/static/mercury-final.png">
                    </a>
                </div>
            </div>
            <div class="sun-container" >
                <div class="sun" data-tooltip="SUN">
                    <a href="/sun">
                        <img src="/static/sun-final.png">
                    </a>
                </div>
            </div>
            <div class="box">
                <div class= "text">
                    PICK
                    <p>A</p>
                    PLANET
                </div>
            </div>
        </div>

    </body>
</html>
