{%extends "base.html"%}

{%block title%} 
MARS
{%endblock title%}

{%block img%} 
<img src="/static/mars-final.png">
{%endblock img%}

{%block name%}
MARS
{%endblock name%}

{%block des1%}
Mars is the fourth planet from the Sun in our solar system and is often referred to as the "Red Planet" due to its reddish appearance, caused by iron oxide (rust) on its surface.
{%endblock des1%}

{%block head1%} 
Size and Composition
{%endblock head1%}
              
{%block content1%}
Mars has a diameter of about 6,779 kilometers (4,212 miles), making it roughly half the size of Earth. It is a rocky, terrestrial planet with a thin atmosphere.
{%endblock content1%}

{%block head2%} 
Surface Features
{%endblock head2%}
              
{%block content2%}
Mars has a diverse and intriguing landscape, including large volcanoes, such as Olympus Mons (the largest volcano in the solar system), deep canyons, such as Valles Marineris (one of the longest and deepest canyons), and a variety of impact craters. The planet's surface also shows evidence of ancient river valleys and lake beds, suggesting that liquid water once existed on its surface.
{%endblock content2%}

{%block head3%} 
Atmosphere
{%endblock head3%}
              
{%block content3%}
Mars has a thin atmosphere composed mainly of carbon dioxide (about 95.3%), with traces of nitrogen, argon, and other gases. The thin atmosphere contributes to significant temperature variations, and it is not sufficient to support liquid water on the surface.
{%endblock content3%}

{%block head4%} 
Polar Ice Caps
{%endblock head4%}
              
{%block content4%}
Mars has polar ice caps made of water and dry ice (frozen carbon dioxide) that expand and contract with the changing seasons. These ice caps contain valuable information about the planet's climate history
{%endblock content4%}

{%block head5%} 
Moons
{%endblock head5%}
              
{%block content5%}
Mars has two small moons, Phobos and Deimos, which are irregularly shaped and thought to be captured asteroids. They are much smaller than Earth's moon.
{%endblock content5%}

{%block head6%} 
Exploration
{%endblock head6%}
              
{%block content6%}
Mars has been the focus of numerous robotic missions, including orbiters, landers, and rovers. Notable missions include the Mars Odyssey, Mars Express, Spirit and Opportunity rovers, Curiosity rover, and more recently, the Perseverance rover.
{%endblock content6%}

{%block head7%} 
Potential for Life
{%endblock head7%}
              
{%block content7%}
Mars has been a target in the search for past or present life beyond Earth. While no direct evidence of life has been found, the presence of water in the past suggests that Mars may have had conditions suitable for microbial life.
{%endblock content7%}

{%block head8%} 
Human Exploration
{%endblock head8%}
              
{%block content8%}
There is significant interest in sending humans to Mars in the future. Organizations like NASA and private companies are actively working on plans for crewed missions to explore the planet and, potentially, establish a human presence.
{%endblock content8%}

{%block des2%} 
Understanding Mars is crucial for planetary science, astrobiology, and human exploration of space. The planet's geology, climate history, and potential for past or present life make it a compelling target for scientific investigation.
{%endblock des2%}