{%extends "base.html"%}

{%block title%} 
MERCURY
{%endblock title%}

{%block img%} 
<img src="/static/mercury-final.png">
{%endblock img%}

{%block name%}
MERCURY
{%endblock name%}

{%block des1%}
Mercury is the smallest and innermost planet in our solar system, and it is classified as a rocky or terrestrial planet
{%endblock des1%}

{%block head1%} 
Size and Distance
{%endblock head1%}
              
{%block content1%}
Mercury is the smallest planet in our solar system, with a diameter of about 4,880 kilometers (3,032 miles). It is located closest to the Sun and has an average distance of about 57.9 million kilometers (36 million miles) from the Sun
{%endblock content1%}

{%block head2%} 
Orbit and Rotation
{%endblock head2%}
              
{%block content2%}
Mercury has an elliptical orbit, and its rotation is unique. It rotates very slowly on its axis, taking about 58.6 Earth days for one complete rotation. However, its orbital period around the Sun is much shorter, approximately 88 Earth days. A day on Mercury (from one sunrise to the next) is equivalent to about 176 Earth days
{%endblock content2%}

{%block head3%} 
Extreme Temperatures
{%endblock head3%}
              
{%block content3%}
Due to its proximity to the Sun and lack of a substantial atmosphere to retain heat, Mercury experiences extreme temperature variations. Daytime temperatures can reach up to around 430 degrees Celsius (800 degrees Fahrenheit), while nighttime temperatures can drop to as low as -180 degrees Celsius (-290 degrees Fahrenheit)
{%endblock content3%}

{%block head4%} 
Surface Features
{%endblock head4%}
              
{%block content4%}
Mercury's surface is rocky and heavily cratered, resembling the Moon. It has large, flat plains, cliffs, and escarpments. One prominent feature is the Caloris Basin, a large impact crater that is about 1,550 kilometers (960 miles) in diameter
{%endblock content4%}

{%block head5%} 
Thin Atmosphere
{%endblock head5%}
              
{%block content5%}
Mercury has a very thin and tenuous atmosphere, composed mainly of trace amounts of helium, hydrogen, and oxygen. It lacks the substantial atmosphere that would moderate temperature extremes
{%endblock content5%}

{%block head6%} 
Lack of Moons
{%endblock head6%}
              
{%block content6%}
Unlike many other planets in the solar system, Mercury does not have any natural moons
{%endblock content6%}

{%block head7%} 
Gravity
{%endblock head7%}
              
{%block content7%}
Mercury has weaker gravity compared to Earth, approximately 38% of Earth's gravity. This is due to its smaller size and mass
{%endblock content7%}

{%block head8%} 
Exploration
{%endblock head8%}
              
{%block content8%}
The Mariner 10 and MESSENGER (MErcury Surface, Space ENvironment, GEochemistry, and Ranging) missions provided valuable information about Mercury. MESSENGER, in particular, orbited Mercury from 2011 to 2015, allowing for detailed observations and mapping of the planet's surface
{%endblock content8%}

{%block des2%} 
Understanding Mercury helps scientists gain insights into the formation and evolution of rocky planets and the conditions present in the early solar system. The extreme conditions on Mercury make it a challenging but intriguing object of study in planetary science
{%endblock des2%}