{%extends "base.html"%}

{%block title%} 
VENUS
{%endblock title%}

{%block img%} 
<img src="/static/venus-final.png">
{%endblock img%}

{%block name%}
VENUS
{%endblock name%}

{%block des1%}
Venus is the second planet from the Sun in our solar system, and it is often referred to as Earth's "sister planet" due to its similar size and composition
{%endblock des1%}

{%block head1%} 
Size and Distance
{%endblock head1%}
              
{%block content1%}
Venus is similar in size to Earth, with a diameter of about 12,104 kilometers (7,521 miles). It is located about 108 million kilometers (67 million miles) from the Sun, making it the second planet in our solar system in terms of distance from the Sun
{%endblock content1%}

{%block head2%} 
Rotation and Day-Night Cycle
{%endblock head2%}
              
{%block content2%}
Venus has an unusual rotation. It rotates on its axis very slowly and in the opposite direction to most planets, including Earth. A day on Venus (one full rotation) takes about 243 Earth days, but its day is longer than its year (orbit around the Sun), which is approximately 225 Earth days
{%endblock content2%}

{%block head3%} 
Atmosphere
{%endblock head3%}
              
{%block content3%}
Venus has a thick and dense atmosphere primarily composed of carbon dioxide (over 96%) with traces of sulfuric acid clouds. The atmosphere creates a strong greenhouse effect, trapping heat and resulting in surface temperatures that are extremely hot—around 465 degrees Celsius (869 degrees Fahrenheit), making Venus the hottest planet in our solar system
{%endblock content3%}

{%block head4%} 
Surface Features
{%endblock head4%}
              
{%block content4%}
Venus has a rocky surface with a variety of features, including mountains, plains, and large volcanic structures. The planet's surface is obscured from direct view by telescopes due to its thick atmosphere, but radar mapping missions, such as NASA's Magellan, have provided detailed maps of Venus' surface
{%endblock content4%}

{%block head5%} 
Volcanic Activity
{%endblock head5%}
              
{%block content5%}
Venus is thought to have experienced significant volcanic activity in the past. Large shield volcanoes, such as Maat Mons and Sapas Mons, are among the notable features on the planet's surface
{%endblock content5%}

{%block head6%} 
No Moons or Rings
{%endblock head6%}
              
{%block content6%}
nlike Earth, Venus does not have any natural moons, and it also lacks a ring system
{%endblock content6%}

{%block head7%} 
Space Missions
{%endblock head7%}
              
{%block content7%}
Several spacecraft have been sent to study Venus, including the Soviet Union's Venera program, which successfully landed several probes on the planet's surface in the 1970s and 1980s. More recently, the European Space Agency's Venus Express and NASA's Magellan missions have provided valuable data about Venus
{%endblock content7%}

{%block head8%} 
Transit of Venus
{%endblock head8%}
              
{%block content8%}
Venus occasionally passes between the Earth and the Sun in what is known as a transit of Venus. This rare event has been historically important for astronomical measurements and observations
{%endblock content8%}

{%block des2%} 
Studying Venus helps scientists understand the impact of greenhouse gases on planetary atmospheres, the geological processes of rocky planets, and the conditions that can lead to extreme temperatures. Despite its surface being inhospitable to life as we know it, Venus remains a fascinating subject for planetary exploration
{%endblock des2%}